@model AppUserViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Employee/Views/Shared/_EmployeeLayout.cshtml";
}

<form asp-action="Index" class="w-75 p-4 mt-3 mx-auto" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label asp-for="Name"></label>
        <span asp-validation-for="Name"></span>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Surname"></label>
        <span asp-validation-for="Surname"></span>
        <input asp-for="Surname" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <span asp-validation-for="Email"></span>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <h6 class="text-center fs-6 ">Güncel Profil Fotoğrafı</h6>
                <img class="w-100" src="~/img/@Model.ImageUrl" style="width:8rem; height:8rem" />
            </div>
            <div class="col-md-4">
                <div id="showPicture" style="display:none">
                    <h4 class="text-center">Seçilen</h4>
                </div>

            </div>
            <div class="col-md-12">
                <label>Seç</label>
                <input type="file" class="form-control-file" name="Picture" />
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-info btn-sm">Kaydet</button>
</form>



