@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<a asp-action="Index" asp-controller="Notification" class="list-group-item list-group-item-action "><i class="far fa-bell mr-2"></i>Bildirimler<span class="badge badge-info badge-pill ml-3"> @ViewBag.OkunmayanBildirimSayisi</span></a>